---
title: 联系方式
date: 2015-11-29 21:00:03
layout: contact
---
<p>宁波公司：<br>
    浙江省宁波市鄞州区长寿南路555号堇山大厦415室</p>
<p>电话：008618969835611<br>
    传真：008657488129786<br>
    手机：18042065515（张经理） 13777059220（何经理）<br>
    邮箱：office@maojigroup.com<br>
    网页：www.maojigroup.cn</p>
