---
title: 产品
date: 2015-11-29 21:00:03
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
	<style>
	.mix-grid .mix:hover .mix-details {
		bottom: -60%;
	}
	.mix-grid .mix .mix-details h4 {
		margin-top: 20px;
	}
	.mix-grid .mix a.mix-link {
		position: static;
		/* display: inline-block; */
		width: 160px;
		margin: 10px auto;
		color: #fff;
	}
	</style>
	<div class="col-md-12 col-sm-12">
		<div class="content-page">
			<div class="filter-v1">
				<ul class="mix-filter">
					<li data-filter="all" class="filter active">All</li>
					<li data-filter="meat_bone_meal" class="filter">肉骨粉</li>
				</ul>
				<div class="row mix-grid thumbnails">
					<div class="col-md-4 col-sm-6 mix mix_all" style="display: block; opacity: 1;">
						<div class="mix-inner" style="width: 360px; height: 270px; background: url(/assets/us-chicken-meal.jpg) no-repeat top center; background-size: cover;">
							<div class="mix-details">
								<h4>美国鸡肉粉,蛋白65</h4>
								<a class="mix-link" href="/products/us-chicken-meal/"><i class="fa fa-link"></i> 查看详情</a>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-sm-6 mix meat_bone_meal mix_all" style="display: block; opacity: 1;">
						<div class="mix-inner" style="width: 360px; height: 270px; background: url(/assets/australian-meat-bone-meal-50.jpg) no-repeat top center; background-size: cover;">
							<div class="mix-details">
								<h4>澳洲肉骨粉,蛋白50</h4>
								<a class="mix-link" href="/products/australian-meat-bone-meal-50/"><i class="fa fa-link"></i> 查看详情</a>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-sm-6 mix meat_bone_meal mix_all" style="display: block; opacity: 1;">
						<div class="mix-inner" style="width: 360px; height: 270px; background: url(/assets/new-zealander-meat-bone-meal.jpg) no-repeat top center; background-size: cover;">
							<div class="mix-details">
								<h4>新西兰肉骨粉,蛋白50</h4>
								<a class="mix-link" href="/products/new-zealander-meat-bone-meal/"><i class="fa fa-link"></i> 查看详情</a>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-sm-6 mix meat_bone_meal mix_all" style="display: block; opacity: 1;">
						<div class="mix-inner" style="width: 360px; height: 270px; background: url(/assets/uruguayan-meat-bone-meal.jpg) no-repeat top center; background-size: cover;">
							<div class="mix-details">
								<h4>乌拉圭肉骨粉,蛋白45</h4>
								<a class="mix-link" href="/products/uruguayan-meat-bone-meal/"><i class="fa fa-link"></i> 查看详情</a>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-sm-6 mix meat_bone_meal mix_all" style="display: block; opacity: 1;">
						<div class="mix-inner" style="width: 360px; height: 270px; background: url(/assets/australian-meat-bone-meal-45.jpg) no-repeat top center; background-size: cover;">
							<div class="mix-details">
								<h4>澳洲肉骨粉,蛋白45</h4>
								<a class="mix-link" href="/products/australian-meat-bone-meal-45/"><i class="fa fa-link"></i> 查看详情</a>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-sm-6 mix mix_all" style="display: block; opacity: 1;">
						<div class="mix-inner" style="width: 360px; height: 270px; background: url(/assets/us-pork-meal.jpg) no-repeat top center; background-size: cover;">
							<div class="mix-details">
								<h4>进口美国猪肉粉</h4>
								<a class="mix-link" href="/products/us-pork-meal/"><i class="fa fa-link"></i> 查看详情</a>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-sm-6 mix mix_all" style="display: block; opacity: 1;">
						<div class="mix-inner" style="width: 360px; height: 270px; background: url(/assets/denmark-fish-meal.jpg) no-repeat top center; background-size: cover;">
							<div class="mix-details">
								<h4>丹麦鱼粉</h4>
								<a class="mix-link" href="/products/denmark-fish-meal/"><i class="fa fa-link"></i> 查看详情</a>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-sm-6 mix mix_all" style="display: block; opacity: 1;">
						<div class="mix-inner" style="width: 360px; height: 270px; background: url(/assets/lucerne.jpg) no-repeat top center; background-size: cover;">
							<div class="mix-details">
								<h4>进口苜宿草</h4>
								<a class="mix-link" href="/products/lucerne/"><i class="fa fa-link"></i> 查看详情</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
