---
title: 关于我们
date: 2015-11-17 01:00:51
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
    <!-- BEGIN CONTENT -->
    <div class="col-md-12 col-sm-12">
        <div class="content-page">
            <div class="row margin-bottom-30">
                <!-- BEGIN INFO BLOCK -->
                <div class="col-md-7">
                    <p>贸基集团（香港）是一家专业从事进出口贸易的大型香港企业。主要涉及饲料原料，饲料添加剂，化工，五金机械，汽配机械等等。</p>
                    <p>宁波贸基进出口有限公司是贸基集团（香港）在宁波成立的专业从事饲料原料进口以及饲料原料国内渠道开发和管理的公司。</p>
                    <p>贸基进出口有限公司专业从事国外优质饲料原料进口。从世界各地寻找优质的饲料原料，为国内饲料市场提供价廉物美的饲料原料产品。</p>
                    <p>本公司主营进口产品：</p>
                    <ul>
                        <li>进口鸡肉粉</li>
                        <li>进口肉骨粉</li>
                        <li>进口猪肉粉</li>
                        <li>进口鱼粉</li>
                        <li>进口苜宿草</li>
                    </ul>
                    <p>本公司在全国南北主要港口都有发货和备货，有专业的饲料物流团队为公司确保从采购源头到国内客户之间产品运输的安全和快速， 为客户提供最安全和快速的物流支持，保证了进口饲料原料的新鲜程度和优质口感。
                    </p>
                    <p>本公司为各类饲料企业提供优质原料产品，客户遍布全国各地的各种饲料厂。产品主要适用于：</p>
                    <ul>
                        <li>宠物饲料</li>
                        <li>水产饲料</li>
                        <li>畜禽饲料</li>
                        <li>牧草饲料</li>
                        <li>特种皮毛饲料</li>
                    </ul>
                </div>
                <!-- END INFO BLOCK -->
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->
